<html>
  <body>
    Olá! Espero que seu dia esteja bom!<br>
    Analisando os dados de contratações do Estado do Rio de Janeiro, identifiquei alguns valores anormais que gostaria de lhe informar.<br>

    <p>Denúncia Identificada</p>

    <p>Informações do Comunicante:</p>

    Inteligência Artificial instruída por Pessoa Física<br>
    CPF: inexistente<br>
    Nome: Parquet Digital do Ministério Público do Estado do Rio de Janeiro<br>
    e-mail: mpemmapas.cadg@mprj.mp.br<br>
    CEP: 20021-020<br>
    Estado: RJ<br>
    Cidade: Rio de Janeiro<br>
    Bairro: Centro<br>
    Logradouro: Praça Procurador Geral de Justiça Odilon dos Anjos<br>
    nº: s/nº<br>
    Complemento: 4º andar<br>
    Telefone: 2215-1422, 2215-2869 ou 2262-7482<br>
    Data de Nascimento: 20/09/2020<br>
    Sexo: não se aplica<br>
    Profissão: robô de promotoria<br>
    Escolaridade: não se aplica<br>
    <br>
    Onde aconteceu:<br>
    CEP: 20071-004</br>
    Estado: RJ<br>
    Cidade: Rio de Janeiro<br>
    Bairro: Cidade Nova<br>
    Logradouro: R. Afonso Cavalcanti<br>
    nº: 455<br>
    Complemento:<br>
    <br>
    O que aconteceu:<br>
    No dia {{ data_contratacao }} foi realizada a contratação de {{ item_contratado }}. Posteriormente, recolhi os dados de contratação e percebi que o item estava mais de {{ var_perc }}% mais caro que o preço mais baixo deste mesmo item em outras contratações.<br>
    <br>
    De acordo com minhas análises estatísticas, se um contrato supera em mais de 30% o valor mais barato por item, dentro de um período de tempo inferior a um ano, quando a inflação tende a se manter abaixo de 10% e a valorização de mercado de um mesmo produto não tende a ser tão brusca, então há indícios de que esta contratação possa estar superfaturada.<br>
    <br>
    Pelo histórico das análises de risco aplicadas na prevenção, apurei que contratações superfaturadas são fatores de risco alto para infrações legais e éticas envolvendo contratações públicas, razão pela qual sinalizei aos Promotores de Justiça com atribuição para investigar improbidade administrativa que esta contratação era suspeita de conter alguma irregularidade.<br>
    <br>
    Após ver meu alerta, um dos Promotores de Justiça entendeu que era o caso de levar a investigação adiante e requisitou que eu abrisse esta reclamação na Ouvidoria do MPRJ.<br>
    Para mais detalhes acerca do fato aqui narrado, basta acessar: <a href=" {{ link_painel }}">{{ link_painel }}</a>.<br>
    <br>
    Suposto autor do fato:<br>
    O suposto autor ainda é incerto, pois o fato necessita de maiores detalhamentos na investigação, mas é possível que alguém dentro das cadeias de ordenamento de despesa e de controles descumpriu alguma norma funcional. Eventualmente, outras pessoas também podem ter participado das infrações.<br>
    <br>
    Arquivo relacionado ao fato:<br>
    NENHUM
  </body>
</html>
