<html>
  <body>
Olá! Espero que seu dia esteja bom!<br>
Analisando os dados fornecidos pelo CAO Meio Ambiente e pelo MP em Mapas, identifiquei alguns problemas no serviço de saneamento básico no território sob sua atribuição.
<br>
<p>Denúncia Identificada</p>

<p>Informações do Comunicante:</p>

Inteligência Artificial instruída por Pessoa Física<br>
CPF: inexistente<br>
Nome: Parquet Digital do Ministério Público do Estado do Rio de Janeiro<br>
e-mail: mpemmapas.cadg@mprj.mp.br<br>
CEP: 20021-020<br>
Estado: RJ<br>
Cidade: Rio de Janeiro<br>
Bairro: Centro<br>
Logradouro: Praça Procurador Geral de Justiça Odilon dos Anjos<br>
nº: s/nº<br>
Complemento: 4º andar<br>
Telefone: 2215-2869 ou 2262-7482<br>
Data de Nascimento: 20/09/2020<br>
Sexo: não se aplica<br>
Profissão: robô de promotoria<br>
Escolaridade: não se aplica<br>
<br>
Onde aconteceu: {{ municipio }}<br>
Estado: RJ<br>
Cidade: {{ municipio }}<br>
Bairro: {{ municipio }}<br>
<br>
O que aconteceu:<br>
Com a ajuda do CAO Meio Ambiente e do MP em Mapas, fui abastecido pelos diversos dados e indicadores oficiais do Painel do Saneamento Básico do MPRJ, que permite um diagnóstico da situação do saneamento básico em cada município do Estado do Rio de Janeiro, além do próprio Estado e da Região Metropolitana. De posse destes dados e indicadores, é possível analisar quais locais têm índices preocupantes em matérias de distribuição de água, tratamento de esgoto e drenagem urbana. Ainda, para auxiliar quem atua no controle da política pública de saneamento básico, estão disponíveis dados orçamentários relativos ao investimento nessas áreas, além de indicativos de quais são todos os prestadores do serviço e o cumprimento ou descumprimento de obrigações legais sobre a matéria, por município.<br>
<br>
De acordo com minhas análises estatísticas, se um indicador está abaixo de determinado valor considerado aceitável, comparado à média do Estado e ao apurado para cidades de mesmo tamanho no grupo das 500 melhores cidades do país em termos de saneamento básico, este é um dado que gera alerta. Por isso, sinalizei aos Promotores de Justiça com atribuição para trabalhar a tutela coletiva do meio ambiente que o indicador de {{ descricao }} do município de {{ municipio }} pode estar com problemas. Após ver meu alerta, um dos Promotores de Justiça entendeu que era o caso de levar a investigação adiante e requisitou que eu abrisse esta reclamação na Ouvidoria do MPRJ. Para mais detalhes acerca do fato aqui narrado, basta acessar: <a href="{{ link_painel }}">{{ link_painel }}</a>.<br>
<br>
Suposto autor do fato: O suposto autor ainda é incerto, pois o fato necessita de maiores detalhamentos na investigação.
</body>
</html>
