[settings]
SECRET_KEY=a
DEBUG=True
ALLOWED_HOSTS=*,
DATABASE_URL="postgres://postgres:postgres@127.0.0.1:50001/apimpmapas"
DATABASE_TEST="postgres://postgres:postgres@127.0.0.1:50001/apimpmapas"
DOMINIO_TEST="postgres://postgres:postgres@127.0.0.1:50001/apimpmapas"
DOMINIO_DB=oracle://

#### Docker env variables
POSTGRES_DB=apimpmapas
POSTGRES_PASSWORD=postgres
POSTGRES_USER=postgres

# SCA_SETTINGS
LOGIN_ROLE=a
SCA_AUTH=a
SCA_CHECK=a

# PG_SETTINGS
PG_HOST=host
PG_USER=user
PG_BASE=base
PG_PASSWORD=passwd

# ORA_SETTINGS
ORA_HOST=host
ORA_USER=user
ORA_PASS=passwd

# DBA_SETTINGS
IMPALA_HOST=host
IMPALA_PORT=5000

# DIR_SETTINGS
STATIC_URL=/static/
MEDIA_URL=/media/

# MAIL_SETTINGS
EMAIL_SMTP_SERVER=a
EMAIL_HOST_USER=a
MAIL_DESTINATION=a


# Cache Redis
CACHE_LOCATION="redis://localhost:50002"
CACHE_DATABASE_NUMBER=1

CELERY_TASK_QUEUE=task_queue

# BUSCA_DESAPARECIDOS
DESAPARECIDOS_DB_USER=username
DESAPARECIDOS_DB_PWD=passwed
DESAPARECIDOS_DB_HOST=host
DESAPARECIDOS_DATA_LEN=1
DESAPARECIDOS_PAGE_SIZE=1

GUEST_ROLE=a

#IMPALA
TABLE_NAMESPACE=table_name
TABLE_EXADATA_NAMESPACE=table_name
