cx_Oracle
Django>=2.2
django-colorfield
django-cors-headers
django-filter
django-grappelli
django-nested-admin
django-ordered-model
django-redis-cache==2.1.0
djangorestframework>=3.9
dj-database-url
git+https://github.com/MinisterioPublicoRJ/login-sca
gunicorn==19.9.0
impyla
Markdown
psycopg2-binary
pyjwt
python-decouple
requests
responses
