cx_Oracle
dj-database-url
Django>=2.2
django-cors-headers
django-filter
djangorestframework>=3.9
impyla
django-ordered-model
gunicorn==19.9.0
Markdown
psycopg2
psycopg2-binary
pyjwt
python-decouple
requests
git+https://github.com/MinisterioPublicoRJ/login-sca